body {
  background-color: #33AA3380;
  border-style:double;
}

hr {
  border-style:none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img {
  height: 200px;
}

h1 {
  color: #0b409c;
}

h2 {
  color: #0b409c;
}

h3 {
  color: #0b409c;
}
